<%- include("../partials/top"); -%>


<div class="body">
    <div class="body-content">
  
      <h2 class="title">Add new AZ</h2>
  
      <form action="/admin/add-az" method="post" onsubmit="return confirm('Please, confirm the data before hitting OK');">
        <div class="row">
            <label for="">Enter the AZ:</label>
            <input type="text" name="az" class="form-control" placeholder="e.g.: gru1" autocomplete="off" autofocus="true" required>
        </div>
  
        <div>
          <button class="row btn btn-secondary btn-lg btn-block" type="submit">Add</button>
        </div>
      </form>
  
      <a href="/admin/add" class="btn btn-outline-secondary">Return</a>
  
    </div>

<%- include("../partials/bottom"); -%>
