
  <%- include("../partials/top"); -%>


  <div class="body">
    <div class="body-content">
  
      <h2 class="title">Add a new circuit, new Patch-Panel or a new AZ.</h2>
  
      <div class="row">
        <a href="/admin/add-circuit" class="form-control btn btn-secondary btn-lg btn-block">Add Circuit</a>
      </div>
      <div class="row">
        <a href="/admin/add-patchpanel" class="form-control btn btn-secondary btn-lg btn-block">Add Patch-Panel</a>
      </div>
      <div class="row">
        <a href="/admin/add-az" class="form-control btn btn-secondary btn-lg btn-block">Add AZ</a>
      </div>
  
      <div>
        <a href="/admin/upload-csv" class=" ">Upload CSV File</a>
      </div>
    </div>

<%- include("../partials/bottom"); -%>

