<%- include("../partials/top"); -%>


<div class="body">
    <div class="body-content">
      <h2 class="title">Fill in the Cross-Connect ID you wish to decommission and the AZ it belongs to.</h2>
      <form class="searchForm" action="/delete" method="post">
        <div class="row">
          <label for="">Enter the Cross-Connect ID:</label>
          <input class="form-control" type="text" name="inputDelete" autocomplete="off" autofocus="true" required>
        </div>
  
        <div class="row">
          <label for="">Enter the AZ which the ID belongs to:</label>
          <input class="form-control" type="text" name="az" autocomplete="off" autofocus="true" required>
        </div>
  
        <button class="row btn btn-secondary btn-lg btn-block" type="submit" name="updateButton" href="/updatecircuit">Search</button>
  
  
      </form>
    </div>

    <%- include("../partials/bottom"); -%>
