<%- include("../partials/top"); -%>


<div class="body">
    <div class="body-content">
      <h2 class="title">Decommission</h2>
  
      <div class="row">
        <a href="/admin/decommission-circuit" class="form-control btn btn-secondary btn-lg btn-block">Decommission Cross-Connect</a>
      </div>
  
      <div class="row">
        <a href="/admin/decommission-patchpanel" class="form-control btn btn-secondary btn-lg btn-block">Decommission Patch-Panel</a>
      </div>
  
    </div>

<%- include("../partials/bottom"); -%>
