<%- include("../partials/top"); -%>

<div class="body">
  <div class="body-content">
    <h2 class="title">Fill in the Cross-Connect ID and the AZ information.</h2>
    <form class="searchForm" action="/admin/update" method="post">
      <div class="row">
        <label for="">Enter the Cross-Connect ID to be updated:</label>
        <input class="form-control" type="text" name="inputUpdate" placeholder="" autocomplete="off" autofocus="true" required>
      </div>

      <div class="row">
        <label for="">Enter the AZ which the circuit belongs to:</label>
        <input class="form-control" type="text" name="inputForm" placeholder="" autocomplete="off" autofocus="true" required>
      </div>

      <button class="row btn btn-secondary btn-lg btn-block" type="submit" name="updateButton" href="/updatecircuit">Search</button>


    </form>
  </div>

  
  <%- include("../partials/bottom"); -%>

