<footer class="content-footer">
    <div class="navbar-dark">
      <p>Created by brennob@ and hchimel@</p>
    </div>
  </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="script.js" charset="utf-8"></script>
  
  </body>
  
  </html>
  