<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dragonborn</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC|Source+Sans+Pro&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="https://kit.fontawesome.com/1e7537689a.js"></script>

</head>

<body>
  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">

      <a class="navbar-brand" href="/"><img src="/images/dragonborn-navbar.png" alt="">Dragonborn</a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="https://w.amazon.com/bin/view/GRU/DCO/dragonborn/" target="_blank">Documentation</a>
          <a class="nav-item nav-link" href="/report">Report</a>
          <a class="nav-item nav-link" href="/search">Search</a>
          <a class="nav-item nav-link" href="/admin/add">Add</a>
          <a class="nav-item nav-link" href="/admin/update">Update</a>
          <a class="nav-item nav-link" href="/admin/decommission">Decommission</a>
        </div>
      </div>
  </div>
  </nav>
