<%- include("../partials/top"); -%>



<div class="body">
    <div class="body-content">
      <h2 class="title">Cross-Connect Search</h2>
  
      <form action="/search-circuit" method="post">
  
        <input type="hidden" name="queryClusterAZ" value="az">
  
        <div class="row">
          <label for="">Type in the AZ for your search:</label>
          <input class="form-control" type="text" name="inputForm" placeholder="e.g.: gru1" autocomplete="off" autofocus="true" required>
        </div>
  
        <div class="row">
          <label for="">Specify the filter for your search:</label>
          <select class="form-control" name="queryOption">
            <option value="allRecords">All circuits for the AZ</option>
            <option value="_circuit">Circuit ID</option>
            <option value="serviceProvider">Service Provider / Peer</option>
            <option value="patchPanel">Patch-Panel</option>
            <option value="ticket">Ticket Number</option>
          </select>
        </div>
  
        <div class="row">
          <label for="">Type in the ID you wish to filter for:</label>
          <input class="form-control" type="text" name="queryParameter" autocomplete="off" required>
        </div>
  
        <div class="row">
          <button class="searchButton btn btn-secondary btn-lg btn-block" type="submit" name="button">Search</button>
        </div>
      </form>
      <a href="/search" class="btn btn-outline-secondary">Return</a>
    </div>




<%- include("../partials/bottom"); -%>
