<%- include("../partials/top"); -%>


<div class="body">
  <div class="body-content">
    <h2 class="title">Search</h2>

    <div class="row">
      <a href="/search-circuit" class="form-control btn btn-secondary btn-lg btn-block">Cross-Connect Search</a>
    </div>

    <div class="row">
      <a href="/search-patchpanel" class="form-control btn btn-secondary btn-lg btn-block">Patch-Panel Search</a>
    </div>

  </div>





  <%- include("../partials/bottom"); -%>
